* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("");
  opacity: 0.8;
}

.label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

#card {
  padding-top: 10px;
}

.daily-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style-type: none;
  border-style: solid;
  border-radius: 25px;
  margin-bottom: 10px;
}

#card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.icon {
  width: 80px;
  height: 80px;
}

.day {
  padding-right: 8px;
  font-weight: bold;
}

.temp {
  line-height: 30px;
}

#card-body {
  padding-left: 8px;
  padding-bottom: 20px;
  font-weight: bold;
}
@media only screen and (min-width: 425px){
  #card {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
  }
  .form {
    width: 80%;
    margin: auto;
  }
  .daily-card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    list-style-type: none;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}